<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid nomargin nopadding">
        <div class="search bg-blue clearfix">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <p class="text-60 text-white "> Map Legend </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16">  <img class="MapLegend-icon22" src="images/u47.png" /> &nbsp;&nbsp;&nbsp; Target Property</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16"> <img class="MapLegend-icon22" src="images/u69.png" /> &nbsp;&nbsp;&nbsp; Target Property with Property Boundary</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                <span class="text-16"> <img class="MapLegend-icon22" src="images/u43.png" /> &nbsp;&nbsp;&nbsp; Higher Elevation Site</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16">  <img class="MapLegend-icon22" src="images/u83.png" /> &nbsp;&nbsp;&nbsp; Lower Elevation Site</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16">  <img class="MapLegend-icon22" src="images/u43.png" /> &nbsp;&nbsp;&nbsp; Higher Elevation Site Cluster</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16">  <img class="MapLegend-icon22" src="images/u85.png" />&nbsp;&nbsp;&nbsp; Lower Elevation Site Cluster</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16"> <img class="MapLegend-icon22" src="images/u133.png" /> &nbsp;&nbsp;&nbsp;Indeterminate Groundwater Flow Direction</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16">  <img class="MapLegend-icon22"  src="images/u90.png" /> &nbsp;&nbsp;&nbsp; Groundwater Flow Varies at Location</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <span class="text-16">  <img class="MapLegend-icon22" src="images/u61.png" /> &nbsp;&nbsp;&nbsp; Groundwater Flow Direction</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16"> <img class="MapLegend-icon22" src="images/u1004.png" />  &nbsp;&nbsp;&nbsp; Oil, Gas or Related Wells</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <span class="text-16">  <img class="MapLegend-icon22" src="images/u65.png" /> &nbsp;&nbsp;&nbsp;Water Well</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <span class="text-16"><img class="MapLegend-icon22"  src="images/u91.png" />  &nbsp;&nbsp;&nbsp; Building Permits</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16">  <i class="MapLegend-icon fa  fa-pencil-square text-primary"></i> &nbsp;&nbsp;&nbsp;Note from Mobile App</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
                <span class="text-16">  <i class="MapLegend-icon fa fa-picture-o text-primary"></i> &nbsp;&nbsp;&nbsp;Photo from Mobile App</span>
            </div>

        </div>

    </div>
</body>
</html>
