<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid nomargin nopadding">
        <div class="search bg-blue clearfix">
            <div class="col-md-12 col-lg-12 col-sm-12  ">
                <div class="col-lg-9 col-sm-9   ">
                    <p class="text-60 text-white  "> Sanborn Map Abbreviations</p>.
                </div>
                <div class="col-lg-3 col-sm-3 text-right">
                    <button class="btn btn-default btn-lg keydownloadbtn">  DOWNLOAD </button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">

            <img src="images/u0.png" />
        </div>
        <div class="clearfix"></div>
        <div class="  bg-blue clearfix ">
            <div class="col-md-12 col-lg-12 col-sm-12  ">

                <p class="text-60 text-white  "> Sanborn Map Legend</p>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-margin ">
            <img src="images/Sanborn.png" />
        </div>



    </div>
</body>
</html>
