<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EDR LightBox</title>

</head>
<body>

    <div class="container-fluid">


        <div class="row">
            <div class="col-sm-6" style="background-color:lightcyan;">


            </div>
            <div class="col-sm-6">

                <div id="panel">
                    <div class="col-md-12 col-lg-12">
                        <div class=" panel panel-default">
                            <div class="panel-heading popoutheader">
                                <div class="col-xs-4 nopadding"><a><i class=" popicon text-gray fa fa-arrow-right"></i></a></div>
                                <div class="col-xs-8 nopadding">
                                    <div class="row">
                                        <div class="col-md-4 col-md-push-8  text-right"><a href="#/popoutdetails" target="_blank"><i class="popicon text-gray  fa fa-external-link"></i> </a></div>
                                        <div class="col-md-8 col-md-pull-2 text-20 ">5</div>
                                    </div>
                                </div>

                                <div class="clearfix"> </div>
                            </div>

                            <div class="  map">
                                <img class="mapimg" src="images/u2067.png" />
                            </div>

                            <div class="well  nopadding nomargin">
                                <div class=" col-md-7">
                                    <span class="popoutspan  vcenter"> 1340 W CENTRAL BLVD</span>
                                </div>

                                <div class="col-md-5 col-sm-5 vcenter">
                                    <span class="text-10 text-primary"> DISTANCE:</span>
                                    <span class="text-10"> 120 KM </span><br>

                                    <span class="text-10 text-primary "> DIRECTION:</span>
                                    <span class="text-10"> North </span><br>

                                    <span class="text-10 text-primary"> ELEVATION:</span>
                                    <span class="text-10"> Higher</span>
                                </div>

                                <div class="clearfix"> </div>

                            </div>

                            <div class="btn-group col-md-12 nopadding ">
                                <button type="button" class="col-md-10 btn btn-default">LUST</button>
                                <button type="button" class="col-md-2 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="col-md-12 dropdown-menu" role="menu">
                                    <li><a href="#">UST</a></li>
                                    <li><a href="#">Database3</a></li>
                                    <li><a href="#">Database4</a></li>

                                </ul>
                            </div>
                            <div class="popoutscroll col-md-12">
                                <ul class="list-unstyled text-10">
                                    <li><strong class="pull-left"> Region:</strong><span class="pull-right">STATE</span> </li>
                                    <li><strong class="pull-left"> Global Id:</strong><span class="pull-right">T0608300668</span> </li>
                                    <li><strong class="pull-left"> Latitude:</strong><span class="pull-right">34.428918452</span> </li>
                                    <li><strong class="pull-left"> Longitude:</strong><span class="pull-right">-119.716145401</span> </li>
                                    <li><strong class="pull-left"> Case Type:</strong><span class="pull-right">LUST Cleanup Site</span> </li>
                                    <li><strong class="pull-left">Status:</strong><span class="pull-right">Completed - Case Closed</span> </li>
                                    <li><strong class="pull-left"> Status Date:</strong><span class="pull-right">06/09/2000</span> </li>
                                    <li><strong class="pull-left"> Lead Agency:</strong><span class="pull-right">SANTA BARBARA COUNTY LOP</span> </li>
                                    <li><strong class="pull-left">Case Worker:</strong><span class="pull-right">CSB</span> </li>
                                    <li><strong class="pull-left"> Local Agency:</strong><span class="pull-right">SANTA BARBARA COUNTY LOP</span> </li>
                                    <li><strong class="pull-left"> RB Case Number:</strong><span class="pull-right">3236</span> </li>
                                    <li><strong class="pull-left"> LOC Case Number:</strong><span class="pull-right">90069</span> </li>
                                </ul>


                            </div>
                            <div class="clearfix"> </div>

                        </div>
                    </div>
                </div>

                <div class="tabbable ">
                    <ul class="nav nav-tabs bg-blue tabpad">
                        <li ng-class="{active: selectedTab == 1}">
                            <a ng-click="selectedTab = 1;">Sites (39)</a>
                        </li>
                        <li ng-class="{active: selectedTab == 2}">
                            <a ng-click="selectedTab = 2;">Summary</a>
                        </li>

                        <li ng-class="{active: selectedTab == 3}">
                            <a ng-click="selectedTab = 3;" class="dropdown-toggle" data-toggle="dropdown">{{physicalSettingsTab}} <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">


                                <li data-ng-repeat="data in physicalSettings">
                                    <a data-toggle="tab">
                                        <input name="currentTabel"
                                               type="radio"
                                               value="{{data.pId}}"
                                               ng-model="currentTblName"
                                               ng-click="LoadPhysicalTableData(data.pId,data.name)" ng-disabled="{{data.IsPhysicalActive}}" />
                                        {{data.name}} <span class=" pull-right">({{data.count}})</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li ng-class="{active: selectedTab == 4}">
                            <a ng-click="selectedTab = 4;" class="dropdown-toggle" data-toggle="dropdown">{{OtherTabname}} <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">

                                <li data-ng-repeat="otherdata in OtherTab">
                                    <a data-toggle="tab">
                                        <input name="currentOtherTabel"
                                               type="radio"
                                               value="{{otherdata.Id}}"
                                               ng-model="currentotherdata"
                                               ng-click="LoadOtherTableData(otherdata.Id,otherdata.name)" />
                                        {{otherdata.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="tab-content" ng-show="selectedTab == 1">

                        <table class="table table-bordered table-fixed">
                            <tr>
                                <th>
                                    <div class="btn-group ">

                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">

                                            <li>
                                                <input name="currentTabel" type="checkbox" value="" />
                                                <i class="tableicon  fa fa-star-o"></i>
                                            </li>
                                            <li>
                                                <input name="currentTabel" type="checkbox" value="" />
                                                <i class="tableicon  fa fa-star"></i>
                                            </li>
                                            <li>
                                                <input name="currentTabel" type="checkbox" value="" />
                                                <i class="tableicon  fa fa-eye"></i>
                                            </li>
                                            <li>
                                                <input name="currentTabel" type="checkbox" value="" />
                                                <i class="tableicon  fa fa-eye-slash"></i>
                                            </li>

                                        </ul>
                                    </div>

                                </th>
                                <th class="col-md-2">Site Name</th>
                                <th class="col-md-3">Address</th>
                                <th class="col-md-3">
                                    Databases
                                    <div class="btn-group pull-right">

                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li> MAPPED SITES FILTER:</li>
                                            <li><a href="#">All Databases</a></li>
                                            <li><a href="#">RCRA-LQG</a></li>
                                            <li><a href="#">RCRA-SQG</a></li>
                                            <li><a href="#">RCRA-CESQG</a></li>
                                            <li><a href="#">LUST</a></li>
                                            <li><a href="#">SLIC</a></li>
                                            <li><a href="#">UST</a></li>
                                            <li><a href="#">CA FID UST</a></li>
                                            <li><a href="#">HIST UST</a></li>
                                            <li><a href="#">SWEEPS UST</a></li>
                                            <li><a href="#">EDR US Hist Cleaners</a></li>
                                            <li><a href="#">EDR US Hist Auto Stat</a></li>
                                            <li><a href="#">CUPA Listings</a></li>
                                            <li><a href="#">DRYCLEANERS</a></li>
                                            <li><a href="#">FINDS</a></li>
                                            <li><a href="#">HIST UST</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Include Orphans in Site List</a></li>

                                        </ul>
                                    </div>
                                </th>
                                <th class="col-md-2"><a href="" ng-click="orderByField='rel'; reverseSort = !reverseSort">REl.ELV.</a></th>
                                <th class="col-md-2"><a href="" ng-click="orderByField='distance'; reverseSort = !reverseSort">Dist.(ft.)</a></th>

                            </tr>
                            <tr ng-repeat="sites in sitesData  | orderBy:orderByField:reverseSort ">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td id="flip" class="col-md-2">{{sites.sitename}}</td>
                                <td class="col-md-3">{{sites.address}}</td>
                                <td class="col-md-3">{{sites.database}}</td>
                                <td class="col-md-2">{{sites.rel}}</td>
                                <td class="col-md-2">{{sites.distance}}</td>
                            </tr>
                        </table>

                    </div>

                    <div class="tab-content" ng-show="selectedTab == 2">
                        <table ng-table="tableParams" class="table table-bordered ng-table-responsive" id="summaryId">
                            <tbody ng-repeat="group in $groups">
                                <tr class="ng-table-group">
                                    <td class="well" colspan="{{$columns.length}}">
                                        <strong>{{ group.value }}</strong>
                                        <!--<a href="" ng-click="group.$hideRows = !group.$hideRows">
                                            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>

                                        </a>-->
                                    </td>
                                </tr>
                                <tr ng-hide="group.$hideRows" ng-repeat="user in group.data">
                                    <td data-title="'Database'">
                                        {{user.childDBname}}
                                    </td>
                                    <td data-title="'Dist.'">
                                        {{user.Dist}}
                                    </td>
                                    <td data-title="'TP'">
                                        {{user.TP}}
                                    </td>
                                    <td data-title="'<1/8'">
                                        {{user.firstVal}}
                                    </td>
                                    <td data-title="'1/8 - 1/4'">
                                        {{user.secondVal}}
                                    </td>
                                    <td data-title="'1/4 - 1/2'">
                                        {{user.thirdVal}}
                                    </td>
                                    <td data-title="'1/2 - 1'">
                                        {{user.fourthVal}}
                                    </td>
                                    <td data-title="'> 1'">
                                        {{user.fifthVal}}
                                    </td>
                                    <td data-title="'TOTAL'" num-filter>
                                        {{user.sum}}
                                    </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-success text-right"><strong>Total:</strong></td>
                                    <td></td>
                                    <td>{{TPTotal}}</td>
                                    <td>{{firstValTotal}}</td>
                                    <td>{{secondValTotal}}</td>
                                    <td>{{thirdValTotal}}</td>
                                    <td>{{fourthValTotal}}</td>
                                    <td>{{fifthValTotal}}</td>
                                    <td>{{grandTotalVal}}</td>
                                </tr>

                            </tfoot>
                        </table>
                    </div>

                    <div class="tab-content" ng-show="selectedTab == 3">
                        <table class="table table-bordered table-fixed" id="tblAquiFlow" ng-show="IsAquiFlow">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Site Name</th>
                                <th class="col-md-3">Databases</th>
                                <th class="col-md-2" ng-show="{{disableCol}}">REl.ELV.</th>
                                <th class="col-md-2">Dist.(ft.)</th>
                                <th class="col-md-2">Dir.</th>

                            </tr>
                            <tr ng-repeat="aquiData in aquiFlowData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{aquiData.Id}}</td>
                                <td class="col-md-3">{{aquiData.sitename}}</td>
                                <td class="col-md-3">{{aquiData.database}}</td>
                                <td class="col-md-2" ng-show="{{disableCol}}">{{aquiData.rel}}</td>
                                <td class="col-md-2">{{aquiData.distance}}</td>
                                <td class="col-md-2">{{aquiData.dir}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-fixed" id="tblWaterWell" ng-show="IsWaterWell">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Site Name</th>
                                <th class="col-md-3">Databases</th>

                                <th class="col-md-2">Dist.(ft.)</th>
                                <th class="col-md-2">Dir.</th>

                            </tr>
                            <tr ng-repeat="waterData in waterWellsData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{waterData.Id}}</td>
                                <td class="col-md-3">{{waterData.sitename}}</td>
                                <td class="col-md-3">{{waterData.database}}</td>

                                <td class="col-md-2">{{waterData.distance}}</td>
                                <td class="col-md-2">{{waterData.dir}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-fixed" id="tblSoilData" ng-show="IsSoilDataTbl">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Soil ID</th>
                                <th class="col-md-3">Soil Type</th>
                                <th class="col-md-3">Texture</th>
                                <th class="col-md-2">Hydrologic Group</th>
                                <th class="col-md-2">Drainage</th>


                            </tr>
                            <tr ng-repeat="soil in soilData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{soil.soilId}}</td>
                                <td class="col-md-3">{{soil.soiltype}}</td>
                                <td class="col-md-3">{{soil.Texture}}</td>
                                <td class="col-md-3">{{soil.hydrologicGroup}}</td>
                                <td class="col-md-2">{{soil.Drainage}}</td>

                            </tr>
                        </table>
                    </div>
                    <div class="tab-content" ng-show="selectedTab == 4">

                        <table class="table table-bordered table-fixed" id="tblBuidingData" ng-show="IsPermitDataTbl">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Address</th>
                                <th class="col-md-3">Date</th>
                                <th class="col-md-2">Type</th>
                                <th class="col-md-2">Use</th>

                            </tr>
                            <tr ng-repeat="permitdata in buildingPermitData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{permitdata.Id}}</td>
                                <td class="col-md-3">{{permitdata.address}}</td>
                                <td class="col-md-3">{{permitdata.date}}</td>
                                <td class="col-md-3">{{permitdata.type}}</td>
                                <td class="col-md-2">{{permitdata.use}}</td>

                            </tr>
                        </table>
                        <table class="table table-bordered table-fixed" id="tblNotesData" ng-show="IsNotesDataTbl">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Note</th>

                            </tr>
                            <tr ng-repeat="notesdata in notesTblData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{notesdata.Id}}</td>
                                <td class="col-md-10">{{notesdata.note}}</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
