<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EDR LightBox</title>

</head>
<body>

    <div class="container-fluid">


        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 nomargin nopadding backgroundmap">
                <!--left panel section-->

                <div class="tabmap col-md-12 col-lg-12 tabmenumap  ">
                    <ul class="list-unstyled pull-leftlist">
                        <li>
                            <button class="btn btn-md btn-default"> SANBORNS</button>

                        </li>
                        <li>
                            <button class="btn btn-md btn-default"> AERIALS</button>

                        </li>
                        <li>
                            <button class="btn btn-md btn-default"> TOPOS</button>

                        </li>
                        <li>
                            <button class="btn btn-md btn-default"> SATELLITE</button>

                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">STREET</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">  <img src="images/simple-map.png" /> SIMPLE MAP</a></li>
                                    <li><a href="#">  <img src="images/Street-map.png" />STREET MAP</a></li>
                                </ul>
                            </div>

                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">7.5 min topo</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><img src="images/7.5%20MINTOPO.png" /> 7.5 min topo</a></li>
                                    <li><a href="#"><img src="images/contourlines.png" /> CONTOUR LINES</a></li>
                                </ul>
                            </div>

                        </li>

                    </ul>
                </div>


                <div id="panel">
                    <div class="col-md-12 col-lg-12 nomargin nopadding">
                        <div class=" panel panel-default">
                            <div class="panel-heading popoutheader">
                                <div class="col-xs-4 nopadding"><a class="pointer" ng-click="hidePopup()"><i class=" popicon text-gray fa fa-arrow-right"></i></a></div>
                                <div class="col-xs-8 nopadding">
                                    <div class="row">
                                        <div class="col-md-4 col-md-push-8  text-right"><a href="#/propertyDetails/{{siteId}}" target="_blank"><i class="popicon text-gray  fa fa-external-link"></i> </a></div>
                                        <div class="col-md-8 col-md-pull-2 text-20 ">{{siteId}}</div>
                                    </div>
                                </div>

                                <div class="clearfix"> </div>
                            </div>

                            <div class="  map">
                                <img class="mapimg" ng-src="images/{{sitemapimg}}" />
                            </div>

                            <div class="well  nopadding nomargin">
                                <div class=" col-md-7">
                                    <span class="popoutspan  vcenter"> {{siteName}}</span><br />
                                    <span class="popoutspan  vcenter"> {{siteAddress}}</span>
                                </div>

                                <div class="col-md-5 col-sm-5 vcenter">
                                    <span class="text-10 text-primary"> DISTANCE:</span>
                                    <span class="text-10"> {{siteDistance}} </span><br>

                                    <span class="text-10 text-primary "> DIRECTION:</span>
                                    <span class="text-10"> {{siteDirection}} </span><br>

                                    <span class="text-10 text-primary"> ELEVATION:</span>
                                    <span class="text-10"> {{siteElevation}}</span>
                                </div>

                                <div class="clearfix"> </div>

                            </div>

                            <div class="btn-group col-md-12 nopadding ">
                                <button type="button" class="col-md-10 btn btn-default" ng-click="bindDefultAdditionalInfo()">{{siteDatabase}}</button>
                                <button type="button" class="col-md-2 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="col-md-12 dropdown-menu" role="menu">

                                    <li data-ng-repeat="DBdata in popupDBList">
                                        <a ng-click="getDetailsByDB(DBdata.Id)">{{DBdata.name}}</a>

                                    </li>
                                </ul>
                            </div>
                            <div class="popoutscroll col-md-12">
                                <ul class="list-unstyled text-10">

                                    <li><strong class="pull-left"> Region:</strong><span class="pull-right">{{Region}}</span> </li>
                                    <li><strong class="pull-left"> Global Id:</strong><span class="pull-right">{{Global_Id}}</span> </li>
                                    <li><strong class="pull-left"> Latitude:</strong><span class="pull-right">{{Latitude}}</span> </li>
                                    <li><strong class="pull-left"> Longitude:</strong><span class="pull-right">{{Longitude}}</span> </li>
                                    <li><strong class="pull-left"> Case Type:</strong><span class="pull-right">{{Case_Type}}</span> </li>
                                    <li><strong class="pull-left">Status:</strong><span class="pull-right">{{Status}}</span> </li>
                                    <li><strong class="pull-left"> Status Date:</strong><span class="pull-right">{{Status_Date}}</span> </li>
                                    <li><strong class="pull-left"> Lead Agency:</strong><span class="pull-right">{{Lead_Agency}}</span> </li>
                                    <li><strong class="pull-left">Case Worker:</strong><span class="pull-right">{{Case_Worker}}</span> </li>
                                    <li><strong class="pull-left"> Local Agency:</strong><span class="pull-right">{{Local_Agency}}</span> </li>
                                    <li><strong class="pull-left"> RB Case Number:</strong><span class="pull-right">{{RB_Case_Number}}</span> </li>
                                    <li><strong class="pull-left"> LOC Case Number:</strong><span class="pull-right">{{LOC_Case_Number}}</span> </li>
                                    <li><strong class="pull-left"> File Location:</strong><span class="pull-right">{{File_Location}}</span> </li>
                                    <li><strong class="pull-left"> Potential Media Affect:</strong><span class="pull-right">{{Potential_Media_Affect}}</span> </li>
                                    <li><strong class="pull-left"> Potential Contaminants of Concern:</strong><span class="pull-right">{{Potential_Contaminants_of_Concern}}</span> </li>
                                    <li><strong class="pull-left"> Site History:</strong><span class="pull-right">{{Site_History}}</span> </li>
                                </ul>


                            </div>
                            <div class="clearfix"> </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 nomargin nopadding">
                <div class="tabbable ">
                    <ul class="nav nav-tabs bg-blue tabpad">
                        <li ng-class="{active: selectedTab == 1}">
                            <a ng-click="selectedTab = 1;" class="pointer">Sites (39)</a>
                        </li>
                        <li ng-class="{active: selectedTab == 2}">
                            <a ng-click="selectedTab = 2;" class="pointer">Summary</a>
                        </li>

                        <li ng-class="{active: selectedTab == 3}">
                            <a ng-click="selectedTab = 3;" class="dropdown-toggle pointer" data-toggle="dropdown">{{physicalSettingsTab}} <span class="caret"></span></a>

                            <ul class="dropdown-menu physicaltab" role="menu">
                                <li id="physicalOne">
                                    <a data-toggle="tab" class="pointer" ng-click="LoadPhysicalTableData(1)" ng-disabled="{{IsAquiActive}}">Aquiflow ({{aquiCount}})<span class=" pull-right"><img src="../images/u99.png" /> </span></a>
                                 
                                </li>
                                <li id="physicalTwo">
                                    <a data-toggle="tab" class="pointer" ng-click="LoadPhysicalTableData(2)" ng-disabled="{{IsWaterActive}}">Water Wells ({{waterWellCount}}) <span class=" pull-right"><img src="../images/u1000.png" /> </span></a>

                                </li>
                                <li id="physicalThree">
                                    <a data-toggle="tab" class="pointer" ng-click="LoadPhysicalTableData(3)" ng-disabled="{{IsOilActive}}">Oil & Gas Wells ({{oilGasCount}})<span class=" pull-right"><img src="../images/u1004.png" /> </span></a>

                                </li>
                                <li id="physicalFour">
                                    <a data-toggle="tab" class="pointer" ng-click="LoadPhysicalTableData(4)" ng-disabled="{{IsSoilActive}}">Soil Data ({{Soilcount}}) <span class=" pull-right"> <img src="../images/u1006.png" /> </span></a>

                                </li>
                                <!--<li data-ng-repeat="data in physicalSettings">
                                    <a data-toggle="tab" ng-click="LoadPhysicalTableData(data.pId,data.name)" ng-disabled="{{data.IsPhysicalActive}}">{{data.name}} <span class=" pull-right">({{data.count}})</span></a>

                                </li>-->
                            </ul>
                        </li>

                        <li ng-class="{active: selectedTab == 4}">
                            <a ng-click="selectedTab = 4;" class="dropdown-toggle  pointer" data-toggle="dropdown">{{OtherTabname}} <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li id="otherOne">
                                    <a data-toggle="tab" class="pointer" ng-click="LoadOtherTableData(1)">Building Permits <i class="navbaricon  pull-right fa fa-file-text-o"></i></a>
                                </li>
                                <li id="otherTwo">
                                    <a data-toggle="tab" class="pointer" ng-click="LoadOtherTableData(2)">Mobile Photos <i class="navbaricon pull-right fa fa-picture-o"></i></a>
                                </li>
                                <li id="otherThree">
                                    <a data-toggle="tab" class="pointer" ng-click="LoadOtherTableData(3)">Mobile Notes <i class=" navbaricon pull-right fa fa-pencil-square"></i></a>
                                </li>

                                <!--<li data-ng-repeat="otherdata in OtherTab">
                                    <a data-toggle="tab" ng-click="LoadOtherTableData(otherdata.Id,otherdata.name)" ng-model="currentotherdata">{{otherdata.name}}</a>
                                </li>-->
                            </ul>
                        </li>
                    </ul>

                    <div class="tab-content" ng-show="selectedTab == 1">

                        <table class="table table-bordered table-fixed">
                            <tr>
                                <th>
                                    <div class="btn-group ">

                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">

                                            <li>
                                                <input name="currentTabel" type="checkbox" ng-model="star" ng-click="" />
                                                <i class="tableicon  fa fa-star-o"></i>
                                            </li>
                                            <li>
                                                <input name="currentTabel" type="checkbox" ng-model="unstar" ng-click="" />
                                                <i class="tableicon  fa fa-star"></i>
                                            </li>
                                            <li>
                                                <input name="currentTabel" type="checkbox" ng-model="eyeon" ng-click="" />
                                                <i class="tableicon  fa fa-eye"></i>
                                            </li>
                                            <li>
                                                <input name="currentTabel" type="checkbox" ng-model="eyeoff" ng-click="" />
                                                <i class="tableicon  fa fa-eye-slash"></i>
                                            </li>

                                        </ul>
                                    </div>

                                </th>
                                <th class="col-md-2">Site Name</th>
                                <th class="col-md-3">Address</th>
                                <th class="col-md-3">
                                    Databases
                                    <div class="btn-group pull-right">

                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>

                                        <ul class="dropdown-menu" role="menu">
                                            MAPPED SITES FILTER:

                                            <li data-ng-repeat="dbData in dbList">

                                                <input type="checkbox" ng-model="filterItems[dbData.database]"> {{dbData.database}}

                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th class="col-md-2"><a href="" ng-click="orderByField='rel'; reverseSort = !reverseSort">REl.ELV.</a></th>
                                <th class="col-md-2"><a href="" ng-click="orderByField='distance'; reverseSort = !reverseSort">Dist.(ft.)</a></th>

                            </tr>
                            <tr ng-repeat="sites in sitesData | orderBy:orderByField : reverseSort | filter:DBFilter" ng-class="{'rowClick':sites.Id == selectedRow}">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a ng-click="disableRowData(sites.Id)"><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2" ng-click="getSelectedRowData(sites.Id)">{{sites.sitename}}</td>
                                <td class="col-md-3" ng-click="getSelectedRowData(sites.Id)">{{sites.address}}</td>
                                <td class="col-md-3" ng-click="getSelectedRowData(sites.Id)">{{sites.database}}</td>
                                <td class="col-md-2" ng-click="getSelectedRowData(sites.Id)">{{sites.rel}}</td>
                                <td class="col-md-2" ng-click="getSelectedRowData(sites.Id)">{{sites.distance}}</td>
                            </tr>
                        </table>

                    </div>

                    <div class="tab-content" ng-show="selectedTab == 2">
                        <table ng-table="tableParams" class="table table-bordered ng-table-responsive" id="summaryId">
                            <tbody ng-repeat="group in $groups">
                                <tr class="ng-table-group">
                                    <td class="well" colspan="{{$columns.length}}">
                                        <strong>{{ group.value }}</strong>
                                        <!--<a href="" ng-click="group.$hideRows = !group.$hideRows">
                                            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>

                                        </a>-->
                                    </td>
                                </tr>
                                <tr ng-hide="group.$hideRows" ng-repeat="user in group.data">
                                    <td data-title="'Database'">
                                        {{user.childDBname}}
                                    </td>
                                    <td data-title="'Dist.'">
                                        {{user.Dist}}
                                    </td>
                                    <td data-title="'TP'">
                                        {{user.TP}}
                                    </td>
                                    <td data-title="'<1/8'">
                                        {{user.firstVal}}
                                    </td>
                                    <td data-title="'1/8 - 1/4'">
                                        {{user.secondVal}}
                                    </td>
                                    <td data-title="'1/4 - 1/2'">
                                        {{user.thirdVal}}
                                    </td>
                                    <td data-title="'1/2 - 1'">
                                        {{user.fourthVal}}
                                    </td>
                                    <td data-title="'> 1'">
                                        {{user.fifthVal}}
                                    </td>
                                    <td data-title="'TOTAL'" num-filter>
                                        {{user.sum}}
                                    </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-success text-right"><strong>Total:</strong></td>
                                    <td></td>
                                    <td>{{TPTotal}}</td>
                                    <td>{{firstValTotal}}</td>
                                    <td>{{secondValTotal}}</td>
                                    <td>{{thirdValTotal}}</td>
                                    <td>{{fourthValTotal}}</td>
                                    <td>{{fifthValTotal}}</td>
                                    <td>{{grandTotalVal}}</td>
                                </tr>

                            </tfoot>
                        </table>
                    </div>

                    <div class="tab-content" ng-show="selectedTab == 3">
                        <table class="table table-bordered table-fixed" id="tblAquiFlow" ng-show="IsAquiFlow">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Site Name</th>
                                <th class="col-md-3">Databases</th>
                                <th class="col-md-2" ng-show="{{disableCol}}">REl.ELV.</th>
                                <th class="col-md-2">Dist.(ft.)</th>
                                <th class="col-md-2">Dir.</th>

                            </tr>
                            <tr ng-repeat="aquiData in aquiFlowData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{aquiData.Id}}</td>
                                <td class="col-md-3">{{aquiData.sitename}}</td>
                                <td class="col-md-3">{{aquiData.database}}</td>
                                <td class="col-md-2" ng-show="{{disableCol}}">{{aquiData.rel}}</td>
                                <td class="col-md-2">{{aquiData.distance}}</td>
                                <td class="col-md-2">{{aquiData.dir}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-fixed" id="tblWaterWell" ng-show="IsWaterWell">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Site Name</th>
                                <th class="col-md-3">Databases</th>

                                <th class="col-md-2">Dist.(ft.)</th>
                                <th class="col-md-2">Dir.</th>

                            </tr>
                            <tr ng-repeat="waterData in waterWellsData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{waterData.Id}}</td>
                                <td class="col-md-3">{{waterData.sitename}}</td>
                                <td class="col-md-3">{{waterData.database}}</td>

                                <td class="col-md-2">{{waterData.distance}}</td>
                                <td class="col-md-2">{{waterData.dir}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-fixed" id="tblSoilData" ng-show="IsSoilDataTbl">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Soil ID</th>
                                <th class="col-md-3">Soil Type</th>
                                <th class="col-md-3">Texture</th>
                                <th class="col-md-2">Hydrologic Group</th>
                                <th class="col-md-2">Drainage</th>


                            </tr>
                            <tr ng-repeat="soil in soilData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{soil.soilId}}</td>
                                <td class="col-md-3">{{soil.soiltype}}</td>
                                <td class="col-md-3">{{soil.Texture}}</td>
                                <td class="col-md-3">{{soil.hydrologicGroup}}</td>
                                <td class="col-md-2">{{soil.Drainage}}</td>

                            </tr>
                        </table>
                    </div>
                    <div class="tab-content" ng-show="selectedTab == 4">

                        <table class="table table-bordered table-fixed" id="tblBuidingData" ng-show="IsPermitDataTbl">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Address</th>
                                <th class="col-md-3">Date</th>
                                <th class="col-md-2">Type</th>
                                <th class="col-md-2">Use</th>

                            </tr>
                            <tr ng-repeat="permitdata in buildingPermitData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{permitdata.Id}}</td>
                                <td class="col-md-3">{{permitdata.address}}</td>
                                <td class="col-md-3">{{permitdata.date}}</td>
                                <td class="col-md-3">{{permitdata.type}}</td>
                                <td class="col-md-2">{{permitdata.use}}</td>

                            </tr>
                        </table>
                        <table class="table table-bordered table-fixed" id="tblNotesData" ng-show="IsNotesDataTbl">
                            <tr>
                                <th> </th>
                                <th class="col-md-2">Map ID</th>
                                <th class="col-md-3">Note</th>

                            </tr>
                            <tr ng-repeat="notesdata in notesTblData">
                                <td><a href="" ng-click=""><i class="tableicon fa fa-flag-o"></i></a><br><a href="" ng-click=""><i class="tableicon fa fa-ban"></i></a> </td>
                                <td class="col-md-2">{{notesdata.Id}}</td>
                                <td class="col-md-10">{{notesdata.note}}</td>

                            </tr>
                        </table>
                        <div ng-show="isGallary">
                            <!--photo gallery-->
                            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>
                            <div id="links" class="top-margin">
                                <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="imageData in gallery">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>{{imageData.caption}}</p>
                                        </div>
                                        <a href="images/{{imageData.mainImage}}" title="{{imageData.title}}" data-gallery>
                                            <img src="images/{{imageData.thumbnilImage}}" alt="{{imageData.title}}" />
                                        </a>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                        <!-- Photo Gallery End -->
                      </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
