<div class="modal-header header_border">
    <a class="close" data-dismiss="modal" ng-click="cancel()">×</a>
    <h4 class="modal-title text-bold-18">{{siteName}} C</h4>
    <span class="text-bold-16">{{siteAddress}}</span>

</div>
<div class="modal-body ">
    <div class="panel-default" id="panel-info">
        <div class="panel_body">
            <h5>RCRA-SQG: RCRA - Small Quantity Generators</h5>
            <p class="ax_paragraph">
                RCRAInfo is EPA’s comprehensive information system, providing access to data supporting the Resource Conservation and Recovery Act (RCRA) of 1976 and
                the Hazardous and Solid Waste Amendments (HSWA) of 1984. The database includes selective information on sites which generate, transport, store, treat and/or dispose of hazardous waste as defined by the Resource Conservation and Recovery Act (RCRA).
                Small quantity generators (SQGs) generate between 100 kg and 1,000 kg of hazardous waste per month.
            </p>
            <hr>
            <div class="col-md-12  nomargin nopadding">
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-calendar-o"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11">
                        <span><b> Date of Government Version:</b></span><br>

                        <span>12/09/2014</span><br>
                        <span><b>Date Made Active in Reports:</b></span><br>
                        <span>01/29/2015</span><br>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-rss"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11 ">
                        <span><b>Source:</b></span><br>
                        <span>Environmental Protection Agency</span><br>
                        <span><b>Telephone:</b></span><br>
                        <span>(415) 495-8895</span><br>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <h5>FINDS: Facility Index System/Facility Registry System</h5>
            <p class="ax_paragraph">
                Facility Index System. FINDS contains both facility information and ’pointers’ to other sources that contain more detail. EDR includes the following FINDS databases in this report: PCS (Permit Compliance System), AIRS (Aerometric Information Retrieval System), DOCKET (Enforcement Docket used to manage and track information on civil judicial enforcement cases for all environmental statutes), FURS (Federal Underground Injection Control),
                C-DOCKET (Criminal Docket System used to track criminal enforcement actions for all environmental statutes), FFIS (Federal Facilities Information System), STATE (State Environmental Laws and Statutes), and PADS (PCB Activity Data System).
            </p>
            <hr>
            <div class="col-md-12  nomargin nopadding">
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-calendar-o"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11">
                        <span><b> Date of Government Version:</b></span><br>

                        <span>08/16/2014</span><br>
                        <span><b>Date Made Active in Reports:</b></span><br>
                        <span>10/20/2014</span><br>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-rss"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11 ">
                        <span><b>Source:</b></span><br>
                        <span>EPA</span><br>
                        <span><b>Telephone:</b></span><br>
                        <span>(415) 947-8000</span><br>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <br>
            <h5>CUPA SANTA BARBARA: CUPA Facility Listing</h5>
            <p class="ax_paragraph">
                CUPA SANTA BARBARA: CUPA Facility Listing
            </p>
            <hr>
            <div class="col-md-12  nomargin nopadding">
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-calendar-o"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11">
                        <span><b> Date of Government Version:</b></span><br>

                        <span>09/08/2011</span><br>
                        <span><b>Date Made Active in Reports:</b></span><br>
                        <span>10/07/2011</span><br>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-rss"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11 ">
                        <span><b>Source:</b></span><br>
                        <span>Santa Barbara County Public Health Department</span><br>
                        <span><b>Telephone:</b></span><br>
                        <span>805-686-8167</span><br>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <br>
            <h5>DRYCLEANERS: Cleaner Facilities</h5>
            <p class="ax_paragraph">
                A list of drycleaner related facilities that have EPA ID numbers. These are facilities with certain SIC codes:power laundries,
                family and commercial; garment pressing and cleaner’s agents; linen supply; coin-operated laundries and cleaning; drycleaning plants, except rugs; carpet and upholster cleaning; industrial launderers; laundry and garment services.
            </p>
            <hr>
            <div class="col-md-12  nomargin nopadding">
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-calendar-o"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11">
                        <span><b> Date of Government Version:</b></span><br>

                        <span>02/18/2015</span><br>
                        <span><b>Date Made Active in Reports:</b></span><br>
                        <span>03/12/2015</span><br>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 nomargin nopadding">
                    <span class="col-lg-2 col-md-2 col-sm-2 nomargin nopadding"><i class="icon-32 fa-rss"></i></span>
                    <div class="col-lg-10 col-md-10 col-sm-10 text-11 ">
                        <span><b>Source:</b></span><br>
                        <span>Department of Toxic Substance Control</span><br>
                        <span><b>Telephone:</b></span><br>
                        <span>916-327-4498</span><br>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <br>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">CLOSE WINDOW</button>

    </div>
</div>
