<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div class="container-fluid nomargin">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 nopadding nomargin" >
                <div class="bg-bluedark popoutnav clearfix">
                    <div class="pull-right">

                        <button class="btn btn-md btn-default "><i class="icon-16 text-primary fa fa-ban"></i></button>

                        <button class="btn btn-md btn-primary " ng-click="btnPrint()"><i class="icon-16 text-white fa fa-print"></i></button>

                        <button class="btn btn-md btn-danger" ng-click="btnClose()"><i class="icon-16 text-white fa fa-times-circle-o"></i></button>
                    </div>
                </div>

            </div>
            <div class="bg-blue col-md-12 clearfix " >
                <div class="margin-left-20 col-md-7">
                    <p class="text-28 text-white ">{{siteName}}</p>
                    <p class="text-28 nopadding nomargin text-white "> {{siteAddress}} </p>
                </div>
                <div class="map-id top-margin col-md-4 text-white" >
                    <div class="text-13 col-md-6 padding-5 ">MAP ID: </div>
                    <div class="text-13 col-md-6 padding-5"> {{siteId}}</div>
                    <div class="text-13 col-md-6 padding-5 ">DISTANCE FROM TP: </div>
                    <div class="text-13 col-md-6 padding-5"> {{siteDistance}}</div>
                    <div class="text-13 col-md-6 padding-5 ">DIRECTION FROM TP: </div>
                    <div class="text-13 col-md-6 padding-5"> {{siteDirection}}</div>
                    <div class="text-13 col-md-6 padding-5">RELATIVE ELEVATION: </div>
                    <div class="text-13 col-md-6 padding-5">{{siteElevation}}</div>
                    <div class="text-13 col-md-6 padding-5 ">ACTUAL ELEVATION </div>
                    <div class="text-13 col-md-6 padding-5"> {{siteActual}} </div>
                </div>
            </div>
            <div class="tabbable" id="divInfo" >
                <div class="col-md-12 well nopadding">
                    <h4 class="col-md-6 col-lg-6 col-sm-6">LUST </h4>
                    <span class="col-md-6 col-lg-6 col-sm-6 text-right pointer" style=" padding:10px 10px 0px 0px"> <i class="text-blue icon-16 fa fa-arrow-circle-o-up"></i> </span>
                </div>
                <div class="popoutdetail tab-content">
                    <ul class="list-unstyled clearfix  text-13">
                        <li data-ng-repeat="data in additionalInfoData">
                            <strong class="col-md-5"> {{data.name}}:</strong><span class="col-md-5 text-left">{{data.value}}</span>
                        </li>

                    </ul>
                </div>
                <div class="col-md-12 well nopadding">
                    <h4 class="col-md-6 col-lg-6 col-sm-6">UST </h4>
                    <span class="col-md-6 col-lg-6 col-sm-6 text-right pointer" style=" padding:10px 10px 0px 0px" ng-click="toTheTop()"> <i class="text-blue icon-16 fa fa-arrow-circle-o-up"></i> </span>
                </div>
                <div class="popoutdetail tab-content">
                    <ul class="list-unstyled clearfix  text-13">
                        <li data-ng-repeat="data in additionalInfoUSTData">
                            <strong class="col-md-5"> {{data.name}}:</strong><span class="col-md-5 text-left">{{data.value}}</span>
                        </li>

                    </ul>
                </div>
                <div class="col-md-12 well nopadding">
                    <h4 class="col-md-6 col-lg-6 col-sm-6">Database 3 </h4>
                    <span class="col-md-6 col-lg-6 col-sm-6 text-right pointer" style=" padding:10px 10px 0px 0px" ng-click="toTheTop()"> <i class="text-blue icon-16 fa fa-arrow-circle-o-up"></i> </span>
                </div>
                <div class="popoutdetail tab-content" align="center">

                    <img src="images/u87.png" alt="database" />
                </div>
                <div class="col-md-12 well nopadding">
                    <h4 class="col-md-6 col-lg-6 col-sm-6">Database 4 </h4>
                    <span class="col-md-6 col-lg-6 col-sm-6 text-right pointer" style=" padding:10px 10px 0px 0px" ng-click="toTheTop()"> <i class="text-blue icon-16 fa fa-arrow-circle-o-up"></i> </span>
                </div>
                <div class="popoutdetail tab-content" align="center">

                    <img src="images/u87.png" alt="database" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 well   clearfix">

                <div class="pull-left">
                    <ul class="list-unstyled pull-leftlist ">

                        <li>
                            <a href="#/propertydetails/{{prevId}}" ng-hide="prevId==null"> <i class="arowpopout fa fa-chevron-left"></i></a>
                        </li>
                        <li class="text-13">
                            {{prevAddress}}<br>

                            {{prevDatabase}}
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="list-unstyled pull-leftlist">
                        <li class="text-13">
                            {{nextAddress}}<br>

                            {{nextDatabase}}
                        </li>
                        <li>
                            <a href="#/propertydetails/{{nextId}}" ng-hide="nextId==null"><i class="arowpopout fa fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
            </div>
        
            
        </div>
 
</body>
</html>
