@charset "utf-8";
/* CSS Document */

html, body {
    height: 100vh;
}

body {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*dashboard div section */
#sidebar {
    border: 5px solid #29628c;
    border-left: 0px;
    height: 88vh;
    width: inherit;
    min-width: 500px;
    max-width: 500px;
    background-color: #FFFFFF;
    float: right;
    position: relative;
    
    overflow:hidden;
    /*overflow-y: auto;
                   overflow-x: hidden;*/
}
.blueimp-gallery{z-index:200 !important;}
#main {
    overflow: auto;
    height: 100%;
}

.bluedivider {
    background-color: #29628c;
    width: 5px;
    height: 88vh;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.toggler {
    padding: 15px 0 0 1px;
    background-color: #f5f5f5;
    left: 0px;
    color: #3074a6;
    width: 5px;
    height: 100px;
    position: relative;
    top: 35%;
    cursor: pointer;
    z-index: 15;
}

    .toggler .fa {
        padding-top: 10px;
    }

.row-offcanvas .rightlist {
    float: right;
}
/*Dashboard div section end */
.tabbable .btn-info+ul.dropdown-menu{
    background-color: #4f7f94;
    color:#ffffff;
  }
.pointer {
    cursor: pointer;
}

.rowClick {
    background-color: #D9E9F9;
}

.tabpad {
    padding-top: 10px;
}

.nopadding {
    padding: 0px !important;
}

.nomargin {
    margin: 0px !important;
}

.col-centered {
    float: none !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ortext {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    color: rgb(48, 116, 166);
}
/* Login Page css */
#loginpage {
    margin-top: 5%;
}

.whitebg {
    background-color: #FFFFFF;
    border-top: 5px solid #3074a6;
}

.logoimg {
    margin: 0px;
}

.col-centered {
    float: none !important;
    padding: 0px !important;
    margin: 0 auto;
}

.top-margin {
    margin-top: 20px !important;
}

.margin-content {
    margin: 20px !important;
}

.Bottom-margin {
    margin-bottom: 20px !important;
}

.col-right-line {
    margin-right: -1px;
    border-right: 1px solid #cccccc;
}

#panellogin {
    margin-bottom: 0px !important;
}

.sub {
    height: 12px;
    display: table-cell;
    margin-left: 5px;
    margin-right: 5px;
}

    .sub:last-child {
        border: 0px;
    }

.row .vdivide {
    margin-left: 0px;
    font-size: 10px;
}

    .row .vdivide li {
        color: #7F7F7F;
        padding: 0px !important;
        float: left;
    }

.text-gray {
    color: #7F7F7F !important;
}

    .text-gray a {
        color: #7F7F7F !important;
    }

.panel-body p {
    line-height: 1.6 !important;
}
/* Login Page css end */

/* Dashboard Screen */
/* Header */
header {
    height: 5vh;
    min-height: 36px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 8px !important;
    padding-bottom: 0 !important;
    max-height: 36px;
}

.navbar {
    min-height: 36px !important;
    max-height: 36px;
}
.navbar .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{

        min-height: 36px !important;
}
#EDRnav {
    margin-bottom: 0px !important;
}

.signinbtn {
    margin: 2px 20px 0px 20px;
    padding: 0px !important;
}

.navbarheading {
    border-right: 1px solid #C3C3C3;
    margin-right: 20px;
    padding: 0px 20px 0px 0px;
}

/* Header End */
/*Map section*/
#snrbm {
    display: none;
}

#AERIALS {
    display: none;
}

#TOPOS {
    display: none;
}

.backgroundmap {
    background: url("../images/u2.png");
    background-position: center;
    background-size: cover;
    height: 88vh;
}

.slidepanel {
    position: absolute;
    margin-top: 20px;
    z-index: 10;
    left: 0px;
}

.slidepanelhead {
    padding-left: 5px;
    padding-right: 5px;
}

.slidepanelyear {
    padding: 10px 0px 0px 10px !important;
}

.icon-13 {
    font-size: 13px;
    margin-top: 3px;
}
/*map end*/
/*database description*/
.searchinput {
    padding: 0px 20px 20px 20px;
}

    .searchinput .input-group-btn {
        padding-left: 20px;
    }

.margin-left-20 {
    margin-left: 20px;
}

/*database description end*/
/* Right tabs */


.icon-16 {
    font-size: 20px;
}

.filtertableiconmenu {
    min-width: 50px;
}

.physicaltab {
    width: 200px !important;
}

.tabbable .nav-tabs li a {
    color: #FFFFFF !important;
}

.tabbable .dropdown-menu>li>a {
	font-weight: 400;
line-height: 1.5;
display: block;
clear: both;
padding: 3px 20px;
white-space: nowrap;
color: #ffffff !important;
	}
.tabbable .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color:#3074A6 !important;
 
}
.tabbable  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {color:#FFFFFF !important; font-weight:bold;}
.tabbable.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {

    text-decoration: none;
color: #fff;
outline: 0;
 background-color: #3074a6;
}

#scrolltable{

    height:50vh;
    overflow:scroll;
}
/*Phto Gallery*/
.photopadding {
    padding: 5px;
}

#links {
    overflow-y: scroll;
    height: 75vh;
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.caption {
    position: absolute;
    bottom: -100%;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    padding: 2%;
    text-align: center;
    color: #fff !important;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.thumbnail:hover .caption {
    bottom: 0%;
    height: 40%;
    line-height: 18px !important;
}

    .thumbnail:hover .caption p {
        line-height: 18px !important;
    }

.captionphoto {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);
}

    .captionphoto .title {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0px !important;
        top: 0px !important;
        text-shadow: none !important;
        color: #ffffff !important;
        bottom: 20px;
    }

.blueimp-gallery > .close {
    color: white !important;
    padding: 0 10px 0 0px !important;
}
/* Photo Gallery end*/
/*subheader tab mapsection*/
.tabmenu {
    background-color: #083a5d;
    padding: 5px 0 5px 0px;
    min-height: 40px;
    height: 6vh;
}

    .tabmenu .btn {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
    }

.tableheader {
    height: 70px;
    padding: 5px;
    background-color: #29628c;
}

.table-heading {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: #FFFFFF;
}
/*subheader tab mapsection end*/
/* Table Right */
.columnsfilter {
    padding: 10px;
}

table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}

table.tableSection tbody {
    overflow: auto;
    height: 67.5vh;
    min-height: 300px;
}

    table.tableSection tbody tr td {
        cursor: pointer;
    }

table.tableSection tr {
    text-align: left;
}

table .summarytablebody {
    overflow-y: scroll;
    height: 350px;
}


tbody {
    border-top: 0px !important;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    text-align: left;
}

thead tr th {
    border: none !important;
}

tfoot tr td {
    border: none !important;
    bottom: 0px;
}

thead {
    border-bottom: 2px solid #29628c !important;
    padding-right: 15px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700 !important;
    font-style: normal;
    font-size: 12px;
    text-align: left;
    color: #3074a6;
    text-transform: uppercase;
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: -ms-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: linear-gradient(top, #ffffff, #e8e8e8);
}

tfoot {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700 !important;
    font-style: normal;
    font-size: 12px;
    text-align: left;
    color: #3074a6;
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: -ms-linear-gradient(top, #ffffff, #e8e8e8);
    background-image: linear-gradient(top, #ffffff, #e8e8e8);
}

.tableicon {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #797979;
}

.tableicongray {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #cccccc;
}

.tableicongreen {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #cccc99;
}

.navbaricon {
    font-size: 15px;
}

.filterno {
    background-color: #777777;
    min-width: 20px;
    height: 20px;
    padding: 0 5px 0 5px;
    color: #ffffff;
    float: right;
}

.dblist {
    clear: both;
}

.datafiltermenu {
    padding: 10px;
    width: 240px;
}
/* popout css*/
/*popoutinfo */
.nomargin-list li {
    margin: 0px !important;
}

.ax_paragraph {
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: left;
    line-height: normal;
}

.icon-32 {
    font-family: 'FontAwesome';
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #3074A6;
}

#panel-info {
    height: 70vh;
    overflow-y: scroll;
}
/*popoutinfo end*/
.popoutdropdown button {
    margin: 0px !important;
}

.logoprint {
    padding: 5px 0px 0px 55px !important;
    margin-left: -20px;
}

.text-20 {
    font-size: 20px;
}

.text-36 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

.text-white {
    color: #FFFFFF !important;
}

#panel {
    position: absolute;
    width: 400px;
    z-index: 10;
    height: 88vh;
    background-color: #ffffff;
    display: none;
    overflow: hidden;
}

.panelwidth {
    right: 505px;
}

.panelwidthoff {
    right: 0px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.popicon {
    font-size: 23px;
}

.popouticon {
    font-size: 27px;
}

.popoutspan {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-top: 20px !important;
}

.padding-5 {
    padding: 5px;
}

.text-10 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
    line-height: 24px;
}

.text-11 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
}

.text-12 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

.text-13 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
}

.text-30 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

.text-28 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
}

.text-16 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.text-bold-18 {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #3074A6;
    text-align: left;
    line-height: 25px;
}

.text-bold-16 {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #797979;
    text-align: left;
    line-height: 20px;
}

.text-60 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
}

.text-48 {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
}

.pull-leftlist {
    padding: 0px;
    margin: 0px;
}

    .pull-leftlist li {
        margin: 0 5px 0 5px;
        float: left;
    }

.arowpopout {
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #3074A6;
}

.popdropbtn {
    width: 92%;
}

.popoutscroll {
    overflow-y: scroll;
    height: 35vh;
    min-height: 200px;
}

    .popoutscroll ul li {
        line-height: 25px;
        clear: both;
    }

.popoutscrollExpand {
    overflow-y: scroll;
    height: 72vh;
    min-height: 400px;
}

.popoutscrollFindings {
    overflow-y: scroll;
    height: 60vh;
    min-height: 300px;
}

    .popoutscrollExpand ul li {
        line-height: 25px;
        clear: both;
    }

.mapimg {
    background-position: center;
    background-size: cover;
    width: 100%;
}

.popoutdetail ul li {
    line-height: 25px;
    clear: both;
}

.popoutnav {
    padding: 5px 10px 5px 0px;
}

.bg-black {
    background-color: #797979;
}

.bg-bluemenu {
    background-color: #083a5d;
}

.bg-bluedark {
    background-color: #083a5d;
}

.closeiconpop {
    margin-right: -15px !important;
}

.map-id {
    margin-bottom: 0px !important;
}
/*popout end*/
/*MapLegend-icon*/
.MapLegend-icon {
    font-size: 30px;
}
/*MapLegend-icon end*/
/* Table End */
/* Dashboard Screen end */



@media only screen and (max-width: 70em) { /*1120px*/
}

@media only screen and (max-width: 64em) { /*1024px*/
}

@media only screen and (max-width: 54.7em) { /*876px*/

}

@media only screen and (max-width: 51.25em) { /*820px*/
    .col-right-line {
        margin-right: -1px;
        border-right: none;
    }

    .margin-content {
        margin: 10px !important;
    }

    .navbarheading {
        border-right: 0px;
        padding: 10px;
    }
}

@media only screen and (max-width: 48em) { /*768px*/
    .navbar .navbar-collapse, .navbar .navbar-form, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        z-index: 2147483647;
        position: absolute;
        background-color: #FFF;
        width: 100%;
    }

    .navbar-nav > li > a, .navbar-brand {
        padding-top: 8px !important;
        padding-bottom: 0 !important;
        height: 50px;
    }

    .navbar {
        min-height: 50px !important;
        height: 50px;
    }
}

@media only screen and (max-height: 40em) { /*656px*/
}

@media only screen and (max-width: 36.625em) {
}


    #scrollable-area {
  position: absolute;
    width: 100%;
    height: 72vh;
    border: 2px solid #ccc;
    margin-top: 95px;
    overflow-y: scroll; /* <-- here is what is important*/
}
  
    #summaryId thead tr th {
 
        padding-left:1px;
        padding-right:0px;
    }
      #summaryId thead{
 position: fixed;
    margin-top: -30px;
    padding-right: 0px !important;
     width: 36.5%;
    }
        