@charset "utf-8";
/* CSS Document */


body {
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.pointer{
 cursor:pointer;
}
.rowClick{
    background-color : #D9E9F9;
}
.tabpad{
	 padding-top:10px;
	
	}
.nopadding {
	padding: 0px !important;
}
.nomargin {
	margin: 0px !important;
}
.col-centered {
	float: none !important;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.ortext {
	font-family: 'Open Sans Condensed';
	font-weight: 300;
	font-style: normal;
	font-size: 28px;
	color: rgb(48, 116, 166);
}
/* Login Page css */
#loginpage {
	margin-top: 5%;
}
.whitebg {
	background-color: #FFFFFF;
	border-top: 5px solid #3074a6;
}
.logoimg {
	margin: 0px;
}
.col-centered {
	float: none !important;
	padding: 0px !important;
	margin: 0 auto;
}
.top-margin {
	margin-top: 20px !important;
}
.margin-content {
	margin: 20px !important;
}
.Bottom-margin {
	margin-bottom: 20px !important;
}
.col-right-line {
	margin-right: -1px;
	border-right: 1px solid #cccccc;
}
#panellogin {
	margin-bottom: 0px !important;
}
.sub {
	height: 12px;
	display: table-cell;
	margin-left: 5px;
	margin-right: 5px;
}
.sub:last-child {
	border: 0px;
}
.row .vdivide {
	margin-left: 0px;
	font-size: 10px;
}
.row .vdivide li {
	color: #7F7F7F;
	padding: 0px !important;
	float: left;
}
.text-gray {
	color: #7F7F7F !important;
}
.text-gray a {
	color: #7F7F7F !important;
}
.panel-body p {
	line-height: 1.6 !important;
}
/* Login Page css end */
	
	/* Dashboard Screen */
	/* Header */
	#EDRnav{
		margin-bottom:0px !important;
		}
.signinbtn {
	margin: 0px 20px 0px 20px;
}
 
	 .navbarheading { border-right:1px solid #C3C3C3; margin-right:20px;  padding:8px 20px 0px 0px;}
 
/* Header End */
/*Map section*/
.backgroundmap{
   background: url("../images/u2.png");
background-position: center;
background-size: cover;
height:768px;


}
/*map end*/
/*database description*/
.searchinput{
    padding:0px 20px 20px 20px;
}
.searchinput .input-group-btn{

        padding-left:20px;
}

.margin-left-20{

    margin-left:20px;

}

/*database description end*/
/* Right tabs */
.icon-16{font-size:20px;}
.filtertableiconmenu{min-width:50px;}
.physicaltab{width:200px !important;}
.tabbable .nav-tabs li a { 
color:#FFFFFF !important;
 
}
.tabbable .dropdown-menu>li>a {
	font-weight: 400;
line-height: 1.5;
display: block;
clear: both;
padding: 3px 20px;
white-space: nowrap;
color: #333 !important;
	}
.tabbable .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color:#3074A6 !important;
 
}
.tabbable  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {color:#FFFFFF !important;}
.tabbable.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {

    text-decoration: none;
color: #fff;
outline: 0;
 background-color: #3074a6;
}
/*Phto Gallery*/

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    bottom:-100%;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {

  bottom:0%;
  height:40%;
  line-height:18px !important;
}
  .thumbnail:hover .caption p {
 
  line-height:18px !important;
}

 .blueimp-gallery>.title  {
    position:absolute;
    text-align:center;
    width:100%;
    left:0px !important;
    top:0px !important;
    text-shadow:none !important;
    color:#3074a6 !important;
  background-color:rgba(255,255,255, 100);}
.blueimp-gallery>.close {
      color:red  !important;
       padding:0 10px 0 0px !important;
     }
/* Photo Gallery end*/
/*left tab mapsection*/
 .tabmenumap{
     background-color:#3074a6;
     padding:5px 0 5px 0px;
   
 }
/*left tab mapsection end*/
/* Table Right */
.tableicon{
	font-size:18px;
	color:#6A6A6A;
	
	}
.navbaricon {
    	font-size:15px;
 

}
/* popout css*/
.logoprint {

   padding: 5px 0px 0px 55px !important;
   margin-left:-20px;
}
 .text-20{
	 font-size:20px;
	 
	 }
  .text-36{
      font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 36px;
 
	 
	 }
 .text-white{
	color:#FFFFFF !important;
	}
#panel {
 
    width:400px;
    z-index:10;
    float:right;
    display:none;

}
.popicon {
    	font-size:23px;
}
.popouticon {
    font-size:27px;
}
.popoutspan {

    font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 16px;
margin-top:20px !important;
}
.text-10 {
    font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 10px;
 
line-height: 24px;

}
.text-11 {
    font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 10px;
 

}
.text-13 {
    font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 13px;
 

}
.text-30 { font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 30px;
}
.text-28 {
     font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 28px;

}
.text-16 {
     font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 16px;

}
.text-60 {
    font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 60px;
  
}
.text-48 {
    font-family: "Open Sans";
font-weight: normal;
font-style: normal;
font-size: 48px;
  
}
.pull-leftlist li {
    margin:0 5px 0 5px;;
    float:left;
}
.arowpopout {

font-weight: 400;
font-style: normal;
font-size: 36px;
color: #3074A6;
}
.popdropbtn {

    width:92%;
}
.popoutscroll {
 overflow-y:scroll;
 height:290px;
}
.popoutscroll ul li {
     line-height:25px;
    clear:both;
}
.mapimg {
    background-position:center;
    background-size:cover;
    width:100%;
}
.popoutdetail ul li {
     line-height:25px;
    clear:both;
}
.bg-black {
background-color:#797979;	
}
.bg-bluedark {
background-color:#2a6692;	
}
.closeiconpop {
    margin-right:-15px !important;
}
.map-id{margin-bottom:0px !important;}
/*popout end*/
/*MapLegend-icon*/
.MapLegend-icon {

    font-size:30px;
}
/*MapLegend-icon end*/
/* Table End */		
	 	/* Dashboard Screen end */
	
	
	
@media only screen and (max-width: 70em) { /*1120px*/
}

@media only screen and (max-width: 64em) { /*1024px*/
}

@media only screen and (max-width: 54.7em) {  /*876px*/
 
}

@media only screen and (max-width: 51.25em) { /*820px*/
.col-right-line {
	margin-right: -1px;
	border-right: none;
}
.margin-content {
	margin: 10px !important;
}
.navbarheading { border-right:0px;  padding:10px;}
}

@media only screen and (max-width: 48em) { /*768px*/
 
}

@media only screen and (max-height: 40em) {  /*656px*/
}

@media only screen and (max-width: 36.625em) {
}
